.admcre-table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background: white;
}

.admcre-td, .admcre-th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    text-align: center;
}

.admcre-tr:nth-child(even) {
    background-color: #dddddd;
}